.bg-top {
	background-color: #70867f;
	border-color: #70867f;
	border-radius: 0px;
}
.bg-portfolio {
	background-color: #ddebd4;
}
.bg-border{
	background-color: #dea17c;
}
body { 
    padding-top: 65px; 
}