.bg-top {
	background-color: #70867f;
	border-color: #70867f;
	border-radius: 0px;
}
.bg-portfolio {
	background-color: #ddebd4;
}
.bg-border{
	background-color: #dea17c;
}
.bg-dark {
	background-color: #9a4e30;
}
body { 
  padding-top: 60px; 
	background-color: #70867f;
}